<%- include('partials/header.ejs') %> 
<body>
    <%- include('partials/navbar.ejs') %> 
        <div class="container">
            <hr>
           <h1><%= question.title %></h1>  
           <p><%= question.description %></p>
           <hr>
           <form>
                <h3>Answer</h3>
                <label>Add a answer...</label>
                <textarea placeholder="Type your answer here" class ="form-control" name="body"></textarea>
                <input type="hidden" name="Question" value="<%= question.id %>">
                <button type="submit" class="btn btn-primary">Reply</button>
           </form>
        </div>
    <body>
<%- include('partials/footer.ejs')  %> 